@charset "UTF-8";
@import url("variaveis.css");

footer {
  background-color: var(--principal);
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.conteudo-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
}

.copyright a {
  font-size: 0.8rem;
}

.logo-maior {
  border: 1px solid var(--secundaria);
  border-radius: 20px;
  padding: 15px;
}

.logo-maior i {
  font-size: 3rem;
}

.mapa p,
.redes p {
  background-color: var(--secundaria);
  color: var(--principal);
  padding: 0 10px;
  border-radius: 10px;
}

.mapa a:hover {
  text-decoration: underline;
}

.redes i {
  font-size: 2rem;
}

.redes i:hover {
  text-shadow: 0 0 5px var(--secundaria);
}



@media screen and (max-width: 768px){
  footer{
    padding: 10px;
  }
  .conteudo-footer{
    align-items: stretch;
    gap: 5px;
  }
  .logo-maior{
    display: none;
  }
  .logo{
    margin-left: 0;
  }
  .mapa p{
    font-size: 1rem;
  }
  .mapa p, .redes p{
    text-align: center;
    padding: 5px;
  }
  .redes i{
    font-size: 1.5rem;
  }
}