@charset "UTF-8";
@import url("variaveis.css");

header {
  background-color: var(--principal);
  height: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.logo {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.logo i {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-right: 10px;
}

.autor p {
  font-size: 1.5rem;
}


header nav {
  display: flex;
  align-items: end;
}

header nav a {
  padding: 5px 30px;
}

header nav a:hover {
  background-color: var(--secundaria);
  color: var(--principal);
  border-radius: 10px 10px 0 0;
  transition: .5s;
}

.pagina-ativada {
  background-color: var(--secundaria);
  color: var(--principal);
  border-radius: 10px 10px 0 0;
}


.botao {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.botao i {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.botao a {
  border: 2px solid var(--secundaria);
  border-radius: 15px;
  padding: 5px 20px;
  height: 50%;
  display: flex;
  align-items: center;
  background-color: var(--principal);
}

.botao a:hover {
  background-color: var(--terciaria);
  box-shadow: 0 0 5px var(--terciaria);
}

@media screen and (max-width: 768px) {
  header {
    height: 100px;
  }

  .logo {
    margin-left: 10px !important;
  }

  header nav {
    order: 1;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid var(--secundaria);
  }

  header nav a {
    padding: 3px 15px;
  }
}