@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 15px;
}

bady {
  height: 100vh;
}

a {
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

iframe {
  width: 100%;
}

.iframe-header {
  height: 55px;
}

.iframe-footer {
  height: 185px;
}

input,
textarea {
  outline: 0;
  border: none;
}